<div class="navbar-wagon">
  <!-- Logo -->
<!--   <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'logo.png' %>
  </a> -->
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to t(:accueil), root_path, class:"navbar-wagon-item navbar-wagon-link" %>

    <div class="dropdown">
      <div class="dropbtn"><%= link_to t(:lemasdesanges), lesgites_path, class:"navbar-wagon-item navbar-wagon-link" %></div>
      <div class="dropdown-content">
        <%= link_to t(:grenier), grenierdesanges_path %>
        <%= link_to t(:gite), gitedelavigne_path %>
      </div>
    </div>
    <%= link_to t(:evenements), evenements_path, class:"navbar-wagon-item navbar-wagon-link" %>
    <%= link_to t(:region), region_path, class:"navbar-wagon-item navbar-wagon-link" %>
    <%= link_to t(:commentvenir), commentvenir_path, class:"navbar-wagon-item navbar-wagon-link" %>
    <%= link_to t(:reserver), reserver_path, class:"navbar-wagon-item navbar-wagon-link" %>
    <% if I18n.locale == I18n.default_locale %>
      <%= link_to (image_tag "GB.png"), { :locale=>'en' } %>

    <% else %>
      <%= link_to (image_tag "FR.png"), { :locale=>'fr' } %>

    <%end%>
  </div>

    <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to t(:accueil), root_path, class:"navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to t(:lemasdesanges), lesgites_path, class:"navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to t(:evenements), evenements_path, class:"navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to t(:region), region_path, class:"navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to t(:commentvenir), commentvenir_path, class:"navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to t(:reserver), reserver_path, class:"navbar-wagon-item navbar-wagon-link" %></li>
      </ul>
    </div>
    <% if I18n.locale == I18n.default_locale %>
      <%= link_to (image_tag "GB.png"), { :locale=>'en' } %>

      <% else %>
      <%= link_to (image_tag "FR.png"), { :locale=>'fr' } %>

    <%end%>
  </div>
</div>
